@using NetBootstrap.Bootstrap
@using NetBootstrap.Bootstrap.Components.Button


<h2>Button</h2>
<br/>
@Html.Bootstrap().Button().Name("1").Class(ButtonClass.Defatul).Text("Default")
@Html.Bootstrap().Button().Name("2").Class(ButtonClass.Primary).Text("Primary")
@Html.Bootstrap().Button().Name("3").Class(ButtonClass.Info).Text("Info")
@Html.Bootstrap().Button().Name("4").Class(ButtonClass.Success).Text("Success")
@Html.Bootstrap().Button().Name("5").Class(ButtonClass.Warning).Text("Warning")
@Html.Bootstrap().Button().Name("6").Class(ButtonClass.Danger).Text("Danger")
@Html.Bootstrap().Button().Name("6").Class(ButtonClass.Inverse).Text("Inverse")
<br/>
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Standar).Text("Standar")
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Large).Text("Large")
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Small).Text("Small")
@Html.Bootstrap().Button().Name("8").Size(ButtonSize.Mini).Text("Mini")
<br/>
@Html.Bootstrap().Button().Name("8").Active(true).Text("Active")
@Html.Bootstrap().Button().Name("8").Enabled(false).Text("Disabled")
@Html.Bootstrap().Button().Name("8").Enabled(false).Text("Active")
<br/>
@(Html.Bootstrap().ButtonGroup().AddButtons(buttons =>
                                                   {
                                                       buttons.AddButton().Text("1");
                                                       buttons.AddButton().Text("2");
                                                       buttons.AddButton().Text("3");
                                                   })
                                .AddButtons(buttons =>
                                                   {
                                                       buttons.AddButton().Text("4");
                                                       buttons.AddButton().Text("5");
                                                       buttons.AddButton().Text("6");
                                                   }))
<br/>
@(Html.Bootstrap().ButtonToolbar().AddGruops(groups =>
                                                      {
                                                          groups.AddGroup().AddButtons(buttons =>
                                                            {
                                                                buttons.AddButton().Text("1");
                                                                buttons.AddButton().Text("2");
                                                                buttons.AddButton().Text("3");
                                                            });
                                                          groups.AddGroup().AddButtons(buttons =>
                                                          {
                                                              buttons.AddButton().Text("4");
                                                              buttons.AddButton().Text("5");
                                                              buttons.AddButton().Text("6");
                                                          });
                                                      }))                               