@using NetBootstrap.Bootstrap
@using NetBootstrap.Bootstrap.Components.Button


<h2>Button</h2>
<br>
@Html.Bootstrap().Button().Name("1").ButtonType(ButtonClass.Defatul)
@Html.Bootstrap().Button().Name("2").ButtonType(ButtonClass.Primary)
@Html.Bootstrap().Button().Name("3").ButtonType(ButtonClass.Info)
@Html.Bootstrap().Button().Name("4").ButtonType(ButtonClass.Success)
@Html.Bootstrap().Button().Name("5").ButtonType(ButtonClass.Warning)
@Html.Bootstrap().Button().Name("6").ButtonType(ButtonClass.Danger)
@Html.Bootstrap().Button().Name("6").ButtonType(ButtonClass.Inverse)
<br>
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Standar)
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Large)
@Html.Bootstrap().Button().Name("7").Size(ButtonSize.Small)
@Html.Bootstrap().Button().Name("8").Size(ButtonSize.Mini)